* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CLASSI DI LAYOUT */
.container-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.container-990 {
    max-width: 990px;
    margin: 0 auto;
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-17 {
    width: calc(100% /6);
}

.col-34 {
    width: calc(100% /6 *2);
}

.col-100 {
    width: 100%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-25 {
    width: 25%;
}

.col-75-4{
    width: calc(75% / 4);
}

/* FINE CLASSI DI LAYOUT */

/* CLASSI DI UTILITY */



.bg-orange {
    background-color: orange;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-darkblue {
    background-color: darkblue;
}

.bg-fuchsia{
    background-color:fuchsia;
}

.bg-lightgrey {
    background-color: lightgray;
}

.bg-skyblue{
    background-color:skyblue ;
} 

.bg-pink{
    background-color: pink;
}

.bg-green {
    background-color: green;
}

.bg-salmon {
    background-color: salmon;
}

.bg-lightseagreen {
    background-color: lightseagreen;
}

.bg-black{
    background-color: rgb(36, 36, 36);
}

.padding-10 {
    padding: 20px 0;
}

.padding-20 {
    padding: 20px 0;
}

.border{
    border: 1.5px dashed black;
}

.border-white{
    border-color: white;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.line-heght50 {
    line-height: 50px;
}

.padding-left10 {
    padding-left: 10px;
}

.padding-right10 {
    padding-right: 10px;
}

.padding-top20{
    padding-top: 20px;
}

.height-50 {
    height: 50px;
}

.height-250{
    height: 250px;
}

.height-350{
    height: 350px;
}

.height-700{
    height: 700px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.btn-footer {
    padding: 10px 20px;
}