* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CLASSI DI LAYOUT */
.container-1000 {
    max-width: 1000px;
    margin: 0 auto;
}

.container-600 {
    max-width: 600px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: calc(100% / 3);
}

.col-100 {
    width: 100%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

/* FINE CLASSI DI LAYOUT */

/* CLASSI DI UTILITY */

.height-50 {
    height: 50px;
}

.bg-orange {
    background-color: orange;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-blue {
    background-color: blue;
}

.bg-fuchsia{
    background-color:fuchsia;
}

.bg-lightgrey {
    background-color: lightgray;
}

.bg-skyblue{
    background-color:skyblue ;
} 

.bg-pink{
    background-color: pink;
}

.padding-20 {
    padding: 20px;
}

.border{
    border: 1px dashed black;
    
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.line-heght50 {
    line-height: 50px;
}

.padding-left10 {
    padding-left: 10px;
}

.padding-right10 {
    padding-right: 10px;
}

.height-300{
    height: 300px;
}

.height-350{
    height: 350px;
}